h1, h2, h3, h4, h5, h6 {
    color: $color-black;
    margin-bottom: .9rem;
    margin-top: .3rem;
}

.lesson-wrap {
    background-color: #e2e4e6;
    padding: 10px;
    margin: 10px;
    border: 1px dashed #fff;
    border-radius: 3px;
    box-sizing: border-box;
}