$color-background-body: #F7F7F7;
$color-black: #000;

$color-green: #0f0;
$color-blue: #00f;
$color-red: #f00;

$color-good-background: rgb(76, 175, 80);
$color-good-color: rgb(255, 255, 255);

$color-bad-background: rgb(244, 67, 54);
$color-bad-color: rgb(255, 255, 255);

$color-primary-background: rgb(33, 150, 243);
$color-primary-color: rgb(255, 255, 255);